
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    var time =@DateTime.Now;
 }
<h2>@time.Hour : @time.Minute</h2>
<div class="wrapper">
    <header class="topnavbar-wrapper">Navbar</header>
    <aside class="aside">Sidebar</aside>
    <aside class="offsidebar">scrollbar</aside>
    <section>Main Content</section>
    <footer>footer part</footer>
</div>